/*
font-family: 'Acme', sans-serif;
*/

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Acme', sans-serif;
}

.homeContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:"header" 
                        " main "
                        " footer "
    ;
}

/*Header*/
.headerNav{
    grid-area: header;
}

.envios{
    background-color: #00C995;
    color: #FFFFFF;
    width: 100% ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgEnvios{
    width: 50px;
}


/*Barra de Navegacion*/
.navBar {
    width: 100%;
    background-color: rgba(255, 0, 0, 0.57);
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listNav {
    width: 150%;
    display: flex;
    justify-content: space-around;
}

ul {
    list-style-type: none;
}

.navBar ul {
    display: flex;
}


.iconNav {
    width: 45px;
    margin: 0px 10px;
}

.iconOtaku {
    width: 56px;
}

/*secciones (Recomendados,Preventas,etc)*/
.articulos{
    grid-area: main;
}

.secciones {
    padding: 10;
}

.mas {
    width: 15px;
}

.seccionPrevMas {
    color: rgba(255, 110, 110, 1);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.seccionNove {
    color: rgba(255, 110, 110, 1);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.seccionReco {
    color: rgba(255, 110, 110, 1);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Tarjeta de Producto*/

.secciones{
    padding: 25px;
}

.tarjetas {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tarjeta a{
    text-decoration: none;
    justify-content: center;
}

.tarjeta {
    width: 250px;
    margin: 30px;
    text-align: center;
    justify-content: space-between;
}

.tarjeta:hover{
    transform: scale(1.2);
}

.tarjeta a img {
    align-items: center;
}

.tarjetaImg {
    width: 150px;
}

.tarjetaTitulo {
    color: rgba(255, 158, 15, 1);
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
}

.tarjetaEditorial{
    font-size: 15px;
    color: rgba(33, 166, 131, 1);
    padding: 0px 5px;
}

.tarjetaPrecio{
    font-size: 17px;
    color: black;
}

/*Apartado del Producto*/

.mangaImg{
    width: 300px;
    margin: 50px 30px;
}

.mangaImg:hover{
        transform: scale(1.3);
}

.Titulo{
    color:rgba(255, 158, 15, 1);
    font-weight: 600;
    margin-left: 5px;
    margin-bottom: 10px;
}

.Editorial {
    font-size: 17px;
    color: rgba(33, 166, 131, 1);
    margin-left: 5px;
}

.Stock {
    font-size: 27px;
    color: rgba(70, 108, 245, 1);
    margin-left: 5px;
}

.Precio {
    font-size: 27px;
    color: rgba(71, 112, 134, 1);
    margin-left: 5px;
}

.tituloDescripcion {
    font-size: 25px;
    color: rgba(71, 112, 134, 1);
    margin-left: 5px;
}

.Descripcion {
    color: rgba(197, 157, 129, 1);
    margin-bottom: 20px;
    margin-left: 5px;
}

.tituloDetallesProducto {
    font-size: 25px;
    color: rgba(71, 112, 134, 1);
    margin: 5px 0px;
    margin-left: 5px;
}

.detallesProducto {
    color: rgba(197, 157, 129, 1);
    margin-left: 5px;
    margin-bottom: 20px;
}


/*Productos Relacionados*/
/*section div {
    margin: 30px;
}*/

.relacionados:hover{
    transform: scale(0.8);
}

.productosRelacionados {
    font-size: 25px;
    color: rgba(71, 112, 134, 1);  
    margin-left: 5px;  
}

.tarjetaImgRelacionado {
    width: 10%;
}


/*Catalogo*/
.catalogoContainer{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:"header header" 
                        "section main "
                        "footer footer";
}


.mainCatalogo{
        grid-area: main;
        margin-top: 20px;
}

.listCat a{
    text-decoration: none;

}

.tarjetasCat{
    display: flex;
    flex-wrap: wrap;
}

.tarjetaCata{
    width: 150px;
    margin: 30px;
    text-align: center;
}

.tarjetaCata:hover{
    transform: scale(1.1);
}

.tarjetaCata a{
    text-decoration: none;

}

.sectionCategorias {
    grid-area: section;
}

.categorias {
    margin-left: 30px;
}

.categoriasTitleDiv{
    border-bottom: rgba(255, 0, 0, 0.57) solid 2px;
    margin-top: 30px;
}

.categoriasTitle {
    font-size: 35px;
    color: rgba(252, 141, 81, 1);
}

.categoria{
    color: rgba(33, 166, 131, 1);
}

.categoriaList{
    font-size: 15px;
    margin: 15px;
    margin-top: 25px;
}

.footerCatalogo {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

/*Login*/
.Bienvenida {
    font-size: 50px;
    margin: 20px;
}

.iconForm {
    width: 3%;
    padding: 10px;
}

.olvidasteContraseña {
    color: black;
    text-decoration: none;
    margin-bottom: 5px;
}

.continuarCon {
    color: red;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.iniciarConGoogleImg {
    width: 30px;
    margin-right: 20px;
}

.iniciarConFacebookImg {
    width: 33px;
    
}

.nuevoUsuario {
    margin-top: 10px;
}
.creaCuenta {
    color: red;
    text-decoration: none;
}


/*Registro*/
.registrarCuenta {
    font-size: 50px;
    margin: 20px;
}

.iniciarSesion {
    color: red;
    text-decoration: none;
}

.yaEresUsuario{
    margin-top: 10px;
}

/*Footer*/
footer {
    background-color: rgb(48, 48, 48)
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.derechosReserv{
    color: #FFFFFF;
    margin: 20px;
}

.redes {
    display: flex;
    align-items: center;
    margin-left: 120px;
}

.redesSocialesTitle {
    color: #FFFFFF;
    font-size: 20px;
    margin: 10px;
}

.redesImg {
    width: 50px;
    padding: 10px;
}


/*FOOTER*/
.footer {
    grid-area:footer;
}

.derechosReserv{
    font-size: 10px;

}

.redes {
    margin-left: 50px;
}

.redesSocialesTitle {
    color: #FFFFFF;
    font-size: 10px;

}

.redesImg {
    width: 40px;
}


/*RESPONSIVE*/

@media screen and (max-width: 768px) {

.homeContainer{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,auto);
    grid-template-areas:"header"
                        "main"
                        "footer";
}

/*HEADER*/
.headerNav {
    grid-area: header;
}

.envios{
    width: 100%;
}

.imgEnvios{
    width: 40px;
}

.todoPais {
    font-size: 20px;
}

.navBar {
    width: 100%;
    grid-area: nav;
}

.listNav {
    width: 40;
}

.iconNav {
    width: 30px;
}

.articulos{
    grid-area: main;
}

/*secciones (Recomendados,Preventas,etc)*/
.articulos{
    grid-area: main;
}

.secciones {
        padding: 6px; 
}

.mas {
    width: 6px;
}

.seccionPrevMas {
    font-size: 20px;
}

.seccionNove {
    font-size: 20px;
}

.seccionReco {
    font-size: 20px;    
}

.tarjetas {
    width: 100% ;
}

.tarjeta {
    width: 60px;
    margin: 0 35px;
}

.tarjetaImg {
    width: 90px;
}


.tarjetaTitulo {
    font-size: 9px;
    padding: 5px;
}

.tarjetaEditorial{
    font-size: 7px;
}

.tarjetaPrecio{
    font-size: 10px;
}

/*CATALOGO*/
.catalogoContainer{
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:"header header" 
                        "section main "
                        "footer footer";
}

.headerCatalogo {
    grid-area: header;
}

.mainCatalogo{
    grid-area: main;
    margin-top: 20px;
}

.listCat a{
text-decoration: none;
}

.tarjetasCat{
display: flex;
}

.tarjetaCata{
width: 30px;
margin: 45px;
}

.tarjetaCata a{
text-decoration: none;
}

.tarjetaTitulo {
    font-size: 7px;
}

.tarjetaEditorial{
    font-size: 8px;
}

.tarjetaPrecio{
    font-size: 8px;
}

.sectionCategorias {
grid-area: section;
}

.categoriasTitleDiv{
margin-top: 10px;
}

.categoriasTitle {
font-size: 15px;
}

.categoriaList{
font-size: 15px;
margin: 5px;
margin-top: 5px;
}

.footerCatalogo {
grid-area: footer;
justify-content: center;
    }
}

@media screen and (max-width: 576px) {
    .homeContainer{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,auto);
        grid-template-areas:"header"
                            "main"
                            "footer"}

/*HEADER*/
.headerNav {
    grid-area: header;
}

.envios{
    width: 100%;
}

.imgEnvios{
    width: 20px;
}

.todoPais {
    font-size: 15px;
}

.navBar {
    width: 100%;
    grid-area: nav;
}

.iconNav {
    width: 30px;
}


/*secciones (Recomendados,Preventas,etc)*/
.articulos{
    grid-area: main;
}

.secciones {
        padding: 6px; 
}

.mas {
    width: 6px;
}


.tarjetas {
    width: 100% ;
    flex-wrap: wrap;
    align-items: center;

}


.tarjeta {
    width: 150px;
    margin: 0 35px;
    margin-bottom: 20px;
}

.tarjetaImg {
    width: 150px;
}


.tarjetaTitulo {
    font-size: 16px;
}

.tarjetaEditorial{
    font-size: 10px;
}

.tarjetaPrecio{
    font-size: 10px;
}

/*CATALOGO*/
.catalogoContainer{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:"header" 
                        "section"
                        "main"
                        "footer";
}

.headerCatalogo {
    grid-area: header;
}

.mainCatalogo{
    grid-area: main;
    margin-top: 20px;
}

.tarjetasCat{
display: flex;
}

.tarjetaCata{
width: 50px;
margin: 10px 70px;
}

.tarjetaCata a{
text-decoration: none;
}

.tarjetaTitulo {
    font-size: 15px;
}

.tarjetaEditorial{
    font-size: 10px;
}

.tarjetaPrecio{
    font-size: 8px;
}

.sectionCategorias {
grid-area: section;
}

.categoriasTitleDiv{
margin-top: 10px;
}

.categoriasTitle {
font-size: 15px;
display: flex;
flex-direction: row;
}

.categoriaList{
font-size: 10px;
margin: 5px;
margin-top: 5px;
}

.listCat{
    display: flex;
    flex-wrap: wrap;
}

.footerCatalogo {
grid-area: footer;
justify-content: center;
    }
}